$banner-left: #6600FF;
$banner-right: #5300CF;
$blue: #3B86FF;
$gray: #979797;
$purple: #8B68EE;
$red: #EE3541;
$selected: #7127DF;
$white: #FFFFFF;

.white {
  color: $white;
}

.blue {
  color: $blue;
}

.bg-blue {
  background-color: $blue;
}

.bg-gray {
  background-color: $gray;
}

.bg-purple {
  background-color: $purple;
}

.bg-red {
  background-color: $red;
}
