.optionCard {
  border-radius: 0;
  max-width: 100%;
  color: white;

  //height: 296px;
  //width: 386px;
}

.card-content {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.card-actions {
  display: flex;
  justify-content: center;
}
